
.shop{
    text-align: center;
    /* background-color: aqua; */
    border-radius: 20px;
    padding: 10px;
    width: 600px;
    border: 1px solid #ccc;
    margin: 10px;
}
.details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.shop img{
    border-radius: 20px;
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.shop a{
    text-decoration: none;
    color: white;
}
.shop button{
    text-decoration: none;
    background-color: rgb(70, 70, 255);
    padding: 1rem 2rem;
    border-radius: 20px;
    border: none;
}
@media only screen and (max-width: 600px) {
    .shop{
        width: fit-content;
    }
}