.allpro{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.shop{
    max-height: 500px;
    max-width: 500px;
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}
.details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.shop img{
    max-height: 250px;
    max-width: 100%;
    object-fit: contain;
}
.shop a{
    text-decoration: none;
    color: white;
}
.shop button{
    text-decoration: none;
    background-color: rgb(70, 70, 255);
    padding: 1rem 2rem;
    border-radius: 20px;
    border: none;
}
@media only screen and (max-width: 600px) {
    .shop{
        width: 100dvw;
    }
}