.user{
    margin: 5px;
    text-align: center;
    background-color: aqua;
    border-radius: 20px;
    padding: 10px;
}
.user img{
    margin: 5px;
    width: 15dvw;
    border-radius: 20px;
}
.feed:nth-child(odd){
    scale: 0.9;
}