body {
    overflow-x: hidden;
    width: 100dvw;
    scrollbar-width: 0px;
}
.hero{
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    height: 90dvh;
    align-items: center;
}
.left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 5px;
    width: 90vw;
}

.left h1{
    width: fit-content;
}
.span1{
    display: flex;
    width: fit-content;
}
.image{
    width: 100dvw;
    object-fit: contain;
}
.pop{
    margin: 10px;
}
.books{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 10px;
}
.bookhead{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.bookhead a{
    text-decoration: none;
    color: black;
}
.feedback{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
@media only screen and (max-width: 600px) {

    .hero{
        height: fit-content;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image{
        width: 90%;
    }
    .left{
        align-items: center;
    }
    .books{
        width: 100%;
    }
}