nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}
h3{
    margin: 0px;
}
.top{
    display: flex;
    justify-content: space-between;
    background-color: rgb(81, 81, 252);
    border-radius: 0px 0px 10px 10px;
}
.span{
    display: block;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}
.bottom{
    display: flex;
    justify-content: center;
}
nav ul li{
    margin-right: 20px;
    padding: 0px 10px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}
nav{
    width: 100%;
    filter: drop-shadow(0px 0px 10px rgb(125, 125, 255));

}
nav img{
    width : 50px;
}
.bottom li:hover{
    background-color: aqua;
    transition: 0.5s all;
}
.bottom li:hover a{
    color: black;
    transition: 0.5s all;

}
.mobile{
    display: none;
}
@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
    .bottom{
        display: none;
    }
    .span{
        display: none;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mobile span{
        background-color: aqua;
        height: 5px;
        width: 30px;
        margin: 2px;
    }
  }